<h1>Listing Books</h1>

<table>
  <thead>
    <tr>
      <th>URL</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @amazon_pages.each do |single_page| %>
      <tr>
        <td>
          <%= single_page.url %>
        </td>
        <td>
          <%= link_to "Fetch Data", run_crawler_amazon_page_path(single_page.id), remote: true %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New URL", new_amazon_page_path %>
